<%= render 'pages/header' %>
<h1>Gallery</h1>
<%= form_for [@user, @user.images.build], :url => pages_galleries_create_image_path do |f| %>
  <%= f.label "Upload image:" %>
  <%= f.file_field :file %>
  <%= f.submit "Upload" %>
<% end %>

<%= render_gallery_for @images %>
